.faqline {
    margin-left: 300px;
    background-color: #373c74;
    width: 495px;
    height: 4px;
}

.faqtitle {
    margin-left: 300px;
    margin-top: 10px;
    color: #373c74;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    background-color: #f1f3f7;
    width: 1000px;
    height: 700px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 95%;
    margin-top: 20px;
}

.questionheader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question input {
    z-index: 2;
    cursor: pointer;
    height: 30px;
    width: 30px;
    opacity: 0;
}

.question span {
    transition: 0.3s;
    transform: translate(-33px, 0px);
    text-align: center;
    font-size: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #373c74;
    color: white;
    height: 30px;
    width: 30px;
    z-index: 1;
    line-height: 25px;
}

.question input:checked + span {
    transform: rotate(90deg) translateY(36px);
}

.questioncontent {
    margin-left: 20px;
    font-weight: lighter;
    display: none;
}

.showquestioncontent {
    margin-left: 20px;
    font-weight: lighter;
}