.papers-line {
    width: 107px;
    height: 4px;
    background-color: #373C74;
    margin-bottom: -10px;
    margin-left: 50px;
}

.papers-title {
    font-size: 30px;
    color: #373C74;
    font-weight: bold;
    margin-left: 50px;
}

.papers-search {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 1500px;
    height: 200px;
    background-color: #f6f7fb;
    margin-left: 50px;
}

.papers-search h2, input, button, select {
    margin-left: 20px;
}

.papers-search h2 {
    color: #36516D;
}

.papers-search input {
    height: 50px;
    font-size: 20px;
    margin: 10px;
    border: 2px solid #696D97;
    color: #7f83AD;
    border-radius: 10px;
}

.papers-search input::placeholder {
    font-size: 20px;
    color: #7f83AD;
}

.papers-search .search-button {
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
    background-color: #373C74;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.papers-search .search-button:hover {
    background-color: #545BA8;
}

.papers-search .search-button svg {
    transform: scale(1.5);
}

.papers-search select {
    transition: border-radius 0.3s ease;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 10px;
    border: 2px solid #696D97;
    color: #7f83AD;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
}

.papers-search select:focus {
    border-radius: 20px;
}

.papers-search button {
    width: 200px;
    height: 50px;
    color: #373C74;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
    border-radius: 25px;
}

.papers {
    display: block;
}

.papers-row {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 30px;
}

.papers-paper {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.85);
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.85);
    justify-content: center;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    margin-left: 80px;
}

.papers-paper * {
    margin-left: 20px;
}

.papers-paper a {
    color: #373c74;
    font-weight: bold;
}

.papers-paper h3 {
    color: #36516d;
}

.papers-paper p {
    font-weight: 20;
}

.papers-paper button {
    transition: background-color 0.3s ease;
    background-color: #545BA8;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 20px;
}

.papers-paper button:hover {
    background-color: #373C74;
}

.pages {
    margin-left: 400px;
    margin-top: 20px;
}

.pages-button-nextprevious {
    transition: 0.3s;
    border: none;
    background-color: #373C74;
    color: white;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.pages-button {
    transition: 0.3s;
    border: none;
    background-color: #373C74;
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
}

.pages-button:hover {
    transform: scale(1.2);
}

.pages-button-nextprevious:hover {
    transform: scale(1.1);
}