.publications-line {
    margin-left: 300px;
    width: 225px;
    height: 5px;
    background-color: #373C74;
}

.publications {
    margin-top: 0px;
    margin-left: 300px;
    color: #373C74;
}

.publication {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-top: 20px;
    background-color: #f6f7fb;
    width: 1500px;
    height: 430px;
    border-left: 40px solid #373C74;
}

.publication img {
    margin-left: 20px;
    margin-top: 20px;
}

.publication p {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: black;
}

.publication a {
    font-size: 20px;
    color: #373C74;
}

.publication button {
    transition: transform 0.3s ease;
    margin-top: 20px;
    margin-left: -2px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #373C74;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.publication button:hover {
    transform: scale(1.1);
}

.pages {
    margin-left: 760px;
    margin-top: 20px;
}

.pages-button-nextprevious {
    transition: 0.3s;
    border: none;
    background-color: #373C74;
    color: white;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.pages-button {
    transition: 0.3s;
    border: none;
    background-color: #373C74;
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
}

.pages-button:hover {
    transform: scale(1.2);
}

.pages-button-nextprevious:hover {
    transform: scale(1.1);
}